/*=============================
  grid set up
===============================*/
.container {
    display: grid;
    min-height: 100vh;
    min-width: 100%;
    grid-template-columns:  1fr;
    grid-template-rows:   45px 1fr 90px;
    grid-template-areas:
             "header  header header"
             "content content content"
             "footer  footer footer";
}

.main {
    background-color: transparent;
    grid-area: content;
}

.footer {
    background-color: #c0392b;
    grid-area: footer;
}

.header {
    grid-area: header;
    height: 60px;
    background: gray;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.main_body{
    /*display: grid;*/
    /*grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));*/
    /*grid-gap: 1rem;*/
}

.main_body > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    padding: 30px;
}

.main_body > ul > li {
    list-style: none;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 0;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.name_rating {
    padding: 2px 16px;
    display: flex;
    align-items: center;
    max-height: 20px;
}
.name_rating span{
    margin-left: auto !important;
}
.name_rating span label {
    margin-left: 5px;
    align-items: center;
}
.city_name {
    padding-left: 14px;
}
.coupon_description{
    padding-left: 14px;
}

img {
    border-radius: 5px 5px 0 0;
    max-height: 220px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.fav_mark{
    display: flex;
    padding: 10px 14px;
    align-items: center;
}
.fav_icon {
    /*padding-left: 14px;*/
}
.buy_now{
    margin-left: auto !important;
}


/*@media only screen and (max-width: 600px) {*/
/*    body {*/
/*        grid-template-columns: 1fr;*/
/*        grid-template-areas: "content"*/
/*        "footer";*/
/*    }*/

/*    .footer{*/
/*        background-color: #fae042;*/
/*    }*/
/*}*/